@use 'reset' as *;
@use 'breakpoints' as *;
@use 'colors' as *;
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap');

@mixin buttons($color, $hover) {
  padding: 16px 29px;
  border-radius: 29px;
  font-size: 1rem;
  font-weight: 900;
  background: $color;
  border: none;
  color: #fff;

  span {
    color: $version-color;
  }

  &:hover {
    background: $hover;
  }
}

* {
  // outline: solid 1px red;
}

body {
  font-family: 'Red Hat Display', sans-serif;
  overflow-x: hidden;

  p {
    color: $paragraph;
    font-size: 1rem;
    font-weight: 500;
    line-height: 26px;
  }
}

.m-width {
  max-width: 700px;

  @include xl {
    max-width: 70%;
  }
}

.download-btn {
  @include buttons($accent, $btn1-hover);
}

.btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.center {
  padding: 0px 24px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

header {
  text-align: center;

  .faces {

    .d-image-left,
    .d-image-right {
      display: none;
    }

    display: flex;
    overflow: hidden;
    margin: 54px 0 48px -1.35rem;

    & img {
      width: 105%;
    }

    @include lg {
      gap: 400px;

      .d-image-left,
      .d-image-right {
        display: block;
      }

      .mobile-image {
        display: none;
      }

    }

  }

  .hero-text {

    h1 {
      font-size: 2.5em;
      color: $heading-text;
      font-family: Red Hat Display;
      margin-bottom: 20px;
      font-weight: 900;
      line-height: 44px;
      max-width: 900px;
    }

    .what-is-it-btn {
      @include buttons($secondary, $btn2-hover);
    }
  }

  .btns {
    margin: 32px 0 64px;
  }

  @include md {
    h1 {
      font-size: 3em;
    }

    .btns {
      flex-direction: row;
    }

    .container {
      max-width: 403px;
      align-self: center;
    }
  }

  @include xl {
    .logo {
      padding-top: 80px;
      // margin-bottom: 500px;
    }

    // .container {}

    .hero-text {
      max-width: 800px;

      h1 {
        font-size: 4em;
        line-height: 64px;
      }
    }

    .faces {
      gap: 60%;

      .d-image-left {
        margin-left: -12px;
      }

      .d-image-right {
        margin-right: -25px;
      }
    }

    // .hero-text {
    //   position: absolute;
    //   top: 10%;
    //   left: 35%;
    // }

    .container {
      position: absolute;
      top: 23%;
      max-width: 460px;
      // margin-bottom: 40px;
    }
  }
}

section {

  .marker {
    display: flex;
    flex-direction: column;
    align-items: center;

    hr {
      height: 84px;
      opacity: 0.25;

      color: $marker;
    }

    .footer-marker {
      z-index: 1;
      margin-bottom: -29px;
    }

    @include xl {
      margin-top: 60px;
    }
  }

  .section-marker {
    padding: 17px 17.5px;
    background-color: $semi-white;
    color: $paragraph;
    margin: -9px 0;
    display: flex;
    justify-content: center;
    border: 1px solid rgba(135, 135, 157, 0.25);
    border-radius: 30px;

  }

  .images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px 25px;
    width: 100%;
    max-width: 400px;
    justify-items: center;
    margin: 64px auto;

    img {
      // height: 143px;
      width: 100%;
      // width: 151px;
      border-radius: 8px;
    }

    @include md {
      grid-template-columns: repeat(4, 1fr);
      max-width: 1900px;
    }
  }

  &.center {
    align-items: center;
  }

  h3 {
    text-transform: uppercase;
    color: $accent;
    font-size: 1rem;
    font-weight: 900;
    letter-spacing: 4px;

  }

  h2 {
    font-size: 2rem;
    line-height: 36px;
    width: 104%;
    text-align: center;
    font-weight: 900;
    margin: 24px 0 34px 0;
  }

  @include md {
    h2 {
      font-size: 2.5em;
      max-width: 482px;
    }

    p {
      max-width: 548px;
    }

    .md-center {
      text-align: center;
      align-items: center;
    }

    @include xl {
      p {
        max-width: 463px;
        text-align: initial;
      }
    }
  }

}

footer {

  width: 100%;
  background: linear-gradient(rgba(77, 150, 168, 0.8) 100%, rgba(77, 150, 168, 0.8)100%), url(../assets/mobile/image-footer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  height: 428px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .footer-text {
    text-align: center;
  }

  h2 {
    font-size: 2em;
    font-weight: 900;

    @include md {
      font-size: 2.5em;
    }
  }

  p {
    margin: 24px 0 32px 0;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;

  }

  .download-btn {
    @include buttons($secondary, $btn2-hover);

    & .version {
      color: $version2-color;
    }
  }

  @include md {
    .container {
      max-width: 620px;
      align-items: center;

      & h2 {
        width: 73%;
        margin-left: 70px;
      }
    }
  }

  @include xl {
    height: 308px;
    background: linear-gradient(rgba(77, 150, 168, 0.8) 100%, rgba(77, 150, 168, 0.8)100%), url(../assets/desktop/image-footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    .container {
      display: flex;
      max-width: 1198px;
      flex-direction: row;
      gap: 12%;
      text-align: inherit;
      /* flex-grow: 1; */

      h2,
      p,
      button {
        width: 112%;
        margin-left: 0;
      }

      p {
        width: 78%;
      }

      button {
        width: 140%;
      }

    }
  }
}

.img-container {
  height: 143px;
}